{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block 'title' %} Cadastro {% endblock %}

{% block 'header' %}

    {% include 'partials/nav-bar.html' %}

{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Cadastro</div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                
                                {%bootstrap_form form%}
                            
                                <button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}